/* HERO SLIDER */

.hero-slider {
  width: 100%;
  height: 70vh;
  position: relative;
  font-size: 1rem;
  min-height: 450px;
}

.hero-slider__main-img-slider-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-slider__main-img-container {
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.hero-slider__main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-slider__main-img.pulse {
  animation: pulse 2s infinite ease-in-out alternate;
}

@keyframes pulse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.75;
  }
}

.hero-slider__main-img-displaced {
  object-position: 25%;
}

.hero-slider__hero-text-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 0 60px;
  height: 100%;
}

.hero-slider__hero-text {
  max-width: var(--base-max-width);
  margin: 0 auto;
  padding: var(--base-desktop-padding);
  display: flex;
  flex-flow: column;
  align-items: start;
  height: 100%;
}

.hero-slider__hero-text.hero-slider__hero-text-right {
  align-items: end;
}

.hero-slider__hero-title-container {
  position: relative;
  height: 100%;
  overflow: hidden;
  max-width: 700px;
  width: 100%;
}

.hero-slider__hero-title {
  font-size: 4em;
  position: absolute;
  bottom: -350px;
  transition: bottom 1s, opacity 1s;
  font-weight: 900;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  will-change: bottom;
  margin: 0 0 8px;
}

.hero-slider__hero-title.hero-slider__hero-title-right {
  right: 0;
}

.title-active {
  bottom: 0px;
}

.hero-slider__hero-text .hero-slider__hero-btn {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  color: #fff;
  border: 3px solid #fff;
  font-size: 1em;
  opacity: 0;
  font-weight: 900;
  background-color: transparent;
  transition: opacity 1s, background-color 0.25s, color 0.25s, padding-right 0.25s;
}

.hero-slider__hero-btn::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M24 12.16L18.24 6.4v4.24H0v3.04h18.24v4.24z' /%3E%3C/svg%3E") !important;
}

.hero-slider__arrow-btns-container {
  position: absolute;
  bottom: -20px;
  right: 40px;
  z-index: 3;
}

.hero-slider__navigation-btns-container {
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
  z-index: 2;
}

.hero-slider__navigation-btns-list {
  max-width: var(--base-max-width);
  margin: 0 auto;
  padding: var(--base-desktop-padding);
  display: flex;
  gap: 12px;
  line-height: 0;
}


.hero-slider__navigation-btn {
  background-color: #ffffff5f;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.hero-slider__prev-btn, 
.hero-slider__next-btn {
  background-color: #fff;
  color: #000;
  padding: 10px;
  border-radius: 50%;
  line-height: 0;
  box-shadow: 0 5px 5px #0000001a;
}

.hero-slider__prev-btn svg, 
.hero-slider__next-btn svg {
  width: 1.25em;
}

.hero-slider__prev-btn {
  margin-right: 10px;
}

.hero-slider__progress-bar-container {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 50px;
}

.hero-slider__progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 0;
  transition: width 5s linear;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.hero-slider__progress-bar-inital {
  transition: none;
  width: 0%;
}

.hero-slider__progress-bar-animation {
  transition: width 5s linear;
  width: 105%;
}

/* END OF HERO SLIDER */

/* CAROUSEL */

.main-home__carousel-section {
  font-size: 1rem;
}

.main-home__carousel-section-btn-container {
  text-align: center;
  margin: 50px 0 75px;
  line-height: 0;
}

.main-home__carousel-section-btn {
  display: inline-block;
  font-weight: 900;
  border-radius: 2px;
}

/* END OF CAROUSEL */

/* GRID PRODUCTS LINKS */

.main-home__grid-products-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 350px;
  font-size: 1rem;
}

.main-home__grid-product-link {
  color: #fff;
  position: relative;
}

.main-home__grid-product-link-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-home__grid-product-link-title {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  position: absolute !important;
  left: 25px;
  bottom: 25px;
  font-size: 1.65em;
  font-weight: 900;
  letter-spacing: var(--base-letter-spacing);
  transition: transform 0.5s;
  will-change: transform;
}

/* END OF GRID PRODUCTS LINKS */

/* HOVER CAPABLE DEVICES */

@media screen and (pointer: fine) and (hover: hover) {
  /* HERO SLIDER */
  .hero-slider__hero-btn:is(:hover, :focus-visible) {
    background-color: #fff;
    color: #000;
    opacity: 1;
    text-shadow: none;
  }

  .hero-slider__prev-btn:is(:hover, :focus-visible), 
  .hero-slider__next-btn:is(:hover, :focus-visible) {
    transform: scale(1.1);
  }

  .hero-slider__navigation-btn:is(:hover, :focus-visible) {
    transform: scale(1.1);
  }

  .hero-slider__hero-text .hero-slider__hero-btn:is(:hover, :focus-visible) {
    transition: opacity 1s, background-color 0.5s, color 0.5s, padding-right 0.5s;
  }

  .hero-slider__hero-btn:is(:hover, :focus-visible)::after {
    transition: right 0.5s !important;
  }
  /*END OF HERO SLIDER */

  /* PRODUCTS LINKS GRID */
  .main-home__grid-product-link:is(:hover, :focus-visible) .main-home__grid-product-link-title {
    transform: translateY(-10px);
  }

  .main-home__grid-product-link:is(:hover, :focus-visible) .slide-in-and-back::after {
    transform: scaleX(1);
  }

  /* END OF PRODUCTS LINKS GRID */
}

/* END OF HOVER CAPABLE DEVICES */

/* ACTIVE */

.hero-slider__prev-btn:active, 
.hero-slider__next-btn:active {
  transform: scale(1);
}

@media screen and (pointer: coarse) and (hover: none) {
  .hero-slider__prev-btn:active, 
  .hero-slider__next-btn:active {
    transform: scale(1.1);
  }
}

.hero-slider__hero-text .hero-slider__hero-btn:active {
  transition: opacity 0s, background-color 0.25s, color 0.25s, padding-right 0.25s;
}

@media screen and (pointer: coarse) and (hover: none) {
  .hero-slider__hero-text .hero-slider__hero-btn:active {
    background-color: #fff;
    opacity: 1 !important;
    color: var(--base-text-color);
  }
}

/* END OF ACTIVE */

@media screen and (max-width: 600px) {
  /* HERO SLIDER */
  .hero-slider__arrow-btns-container {
    right: 20px;
  }

  .hero-slider__prev-btn svg, 
  .hero-slider__next-btn svg {
    width: 1em;
  }

  .hero-slider__navigation-btns-list {
    padding: var(--base-mobile-padding);
  }

  .hero-slider__navigation-btn {
    width: 12px;
    height: 12px;
  }
  
  .hero-slider__hero-text {
    padding: var(--base-mobile-padding)
  }

  .hero-slider__hero-title {
    font-size: 2.85em;
  }

  .hero-slider__hero-btn {
    font-size: 0.9em;
    line-height: initial;
  }

  .hero-slider__hero-btn::after {
    width: 1.5em;
  }
  /* END OF HERO SLIDER */

  /* MAIN HOME CAROUSEL */
  .main-home__carousel-section-btn-container {
    text-align: center;
    margin: 40px 0 65px;
  }

  .main-home__grid-products-links {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 150px;
  }
  /* END OF MAIN HOME CAROUSEL */
}