/* LOADER */

.product-details__loader-container{
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* END OF LOADER */

/* PRODUCT DETAILS */

.product-details-wrapper {
  font-size: 1rem;
}

.product-details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

/* PRODUCT DETAILS */

/* PRODUCT BREADCRUMB */

.product-breadcrumbs {
  margin: 0 0 20px;
  font-size: 0.95em;
  line-height: var(--base-line-height);
  font-family: "Poppins", sans-serif;
}

.product-breadcrumbs a {
  background: var(--slide-to-top);
  transition: color var(--base-underline-transition-duration);
  padding: 2px 5px;
}

.product-breadcrumbs li {
  display: inline;
}

.product-breadcrumbs__current-page-product {
  display: inline-block;
  font-weight: 500;
}

.product-breadcrumbs li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* END OF PRODUCT BREADCRUMB */

/* PRODUCT PREVIEW SLIDER */

.product-slider {
  display: flex;
  gap: 20px;
}

.product-slider__vertical-thumbs-container {
  display: flex;
  flex-flow: column;
  width: 80px;
  position: relative;
  gap: 10px;
  overflow-y: auto;
  scrollbar-width: none;
  height: 100%;
}

.product-slider__vertical-thumb {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  display: block;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 3px;
  transition: border var(--base-transition-duration);
}

.product-slider__main-img {
  overflow: hidden;
  flex: 1;
  display: flex;
  align-self: start;
}

.product-image-container {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  transition: translate var(--base-transition-duration) ease-in-out;
}

.product-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  -webkit-user-drag: none;
}

.slider-controls {
  display: none;
  position: relative;
  padding: 7px 0;
}

.slider-controls__prev-btn {
  display: block;
}

.slider-controls__prev-btn, 
.slider-controls__next-btn {
  top: 50%;
  padding: 15px;
  transform: translateY(-50%);
  position: absolute;
  opacity: 0.8;
  background-color: #efefef;
  line-height: 0;
  color: #242424;
  border-radius: 2px;
  transition: background-color var(--base-transition-duration), color var(--base-transition-duration);
}

.slider-controls__prev-btn svg, 
.slider-controls__next-btn svg {
  width: 0.7em;
  opacity: 0.8;
}

.slider-controls__prev-btn {
  left: 0;
  display: none;
}

.slider-controls__next-btn {
  right: 0;
}

.slider-controls__carousel {
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  display: flex;
  gap: 10px;
  max-height: 125px;
}

.slider-controls__carousel li {
  display: inline;
  flex-shrink: 0;
  flex-grow: 0;
  width: calc(100% / 4);
  aspect-ratio: 1 / 1;
}

.slider-controls__carousel-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 3px;
  transition: border var(--base-transition-duration);
}

.slider-controls__carousel::-webkit-scrollbar {
  display: none;
}

/* END OF PRODUCT PREVIEW SLIDER */

/* PRODUCT DETAILS INFO */

.product-details-info {
  padding-left: 30px;
}

.product-details__title {
  font-family: "Poppins", sans-serif;
  font-size: 2.25em;
  font-weight: 700;
  margin: 0 0 25px;
}

.product-details__price {
  font-weight: normal;
  margin: 0 0 15px;
  font-family: "Poppins", sans-serif;
  line-height: 1.3;
}

.product-details__policies {
  padding: 0 0 25px;
  border-bottom: 1px solid var(--base-border-color);
  font-size: 0.95em;
}

.product-details__size-form {
  margin: 25px 0 30px;
}

.product-details__size-input {
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  left: -9999px;
}

.product-details__size-label:not(:last-of-type) {
  margin: 0 10px 0 0;
}

.product-details-sizes {
  display: flex;
  margin: 0 0 30px;
}

.product-details-sizes legend {
  margin: 0 0 10px;
  letter-spacing: 0.1em;
  font-size: 0.9em;
  font-weight: 900;
}

.product-details__size-label {
  padding: 7px 15px;
  border: 1px solid var(--base-border-color);
  font-size: var(--base-font-size);
  transition: background-color var(--base-transition-duration), outline var(--base-transition-duration);
  outline: 2px solid #fff;
}

.product-details__size-input:checked + .product-details__size-label {
  outline: 2px solid #000;
}

.product-details__sales-points {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 0 25px;
}

.product-details__sales-points p {
  font-size: var(--base-font-size);
}

.product-details__sales-points svg {
  width: 1.5em;
}

.product-details__size-form .product-details__submit-size-btn {
  border: 1px solid var(--base-black);
  background-color: #fff;
  color: var(--base-text-color);
  font-weight: 900;
  font-size: 1.125em;
  border-radius: 1px;
  margin: 0 0 10px;
}

.product-details__size-form .product-details__submit-size-btn::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M24 12.16L18.24 6.4v4.24H0v3.04h18.24v4.24z' /%3E%3C/svg%3E");
  transition: right var(--base-transition-duration);
}

.product-details__submit-payment {
  padding: 11px 20px;
  width: 100%;
  font-weight: normal;
  background-color: #ffc520;
  border-radius: 1px;
  font-size: 0.9em;
  color: #253b80;
  margin: 0 0 25px;
  transition: background-color var(--base-transition-duration);
  border: 1px solid #ffc520;
}

.product-details__payment-img {
  width: 4.305em;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.product-details__more-payments-container {
  text-align: center;
}

.product-details__more-payments-link {
  font-size: var(--base-font-size);
}

/* END OF PRODCUT DETAILS INFO */

/* RECOMMENDED PRODUCTS */

.product-details-recommended {
  font-size: 1rem;
  margin: 140px 0 0;
}

.product-details-recommended__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.85em;
  font-weight: 700;
  text-align: center;
  margin: 0 0 50px;
  word-spacing: 0.025em;
  letter-spacing: 0.025em;
}

.recommended-products-list-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  column-gap: 30px;
}

/* END OF RECOMMENDED PRODUCTS */

/* HOVER CAPABLE DEVICES */

@media screen and (pointer: fine) and (hover: hover) {
  
  /* SLIDER CONTROLS */
  .slider-controls__prev-btn:is(:hover, :focus-visible), 
  .slider-controls__next-btn:is(:hover, :focus-visible) {
    background-color: #000;
    color: #fff;
  }

  .product-slider__vertical-thumb:focus-visible,
  .slider-controls__carousel-img:focus-visible {
    border: 2px solid #000;
    outline: none;
  }
  /* SLIDER CONTROLS */

  /* PRODUCT DETAILS */
  .product-breadcrumbs a:is(:hover, :focus-visible) {
    color: #fff;
  }

  .product-details__size-input:checked + .product-details__size-label:hover {
    cursor: default;
  }

  .product-details__size-input:not(:checked) + .product-details__size-label:is(:hover, :focus-visible) {
    outline: 2px solid #000;
    cursor: pointer;
  }

  .product-details__submit-payment:is(:hover, :focus-visible) {
    background-color: #f6b600;
  }
  /* END OF PRODUCT DETAILS */
}

/* END OF HOVER CAPABLE DIVCES */

/* ACTIVE */

  /* SLIDER CONTROLS */
  .slider-controls__prev-btn:active, 
  .slider-controls__next-btn:active {
    transform: translateY(-50%) scale(1.1);
  }

  @media screen and (pointer: coarse) and (hover: none) {
    .slider-controls__prev-btn:active, 
    .slider-controls__next-btn:active {
      transform: translateY(-50%);
    }
  }
  /* END OF SLIDER CONTROLS */

  .product-details__submit-payment:active {
    opacity: 0.7;
  }

/* END OF ACTIVE */

@media screen and (max-width: 1000px) {
  .product-slider__vertical-thumbs-container {
    display: none;
  }

  .product-slider {
    display: block;
  }

  .product-details-info {
    padding-left: 0;
  }

  .slider-controls {
    display: flex;
    position: relative;
    align-items: center;
  }
}

@media screen and (max-width: 800px) {
  .recommended-products-list-grid {
    display: none;
  }
}

@media screen and (max-width: 750px) { 
  .product-details-container {
    display: block;
  }

  .product-details-wrapper {
    max-width: 525px;
    margin: 0 auto;
  }

  .product-details-info {
    margin: 40px 0 0;
  }

  .product-details-recommended {
    margin: 100px 0 0;
  }
}

@media screen and (max-width: 600px) {
  .product-details-recommended__title {
    font-size: 1.65em;
  }

  .product-details__title {
    font-size: 2em;
    margin: 0 0 20px;
  }
}