/* SORT BY */

.products-collection-filters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.sort-by {
  grid-column: 4 / 5;
  position: relative;
}

.sort-by__select {
  padding: 13px 45px 13px 11px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 1rem;
  border: 1px solid var(--base-border-color);
  width: 100%;
  cursor: pointer;
  white-space: wrap;
  background-color: #fff;
}

.sort-by__select:focus {
  border: 1px solid #000;
  outline: none;
}

.sort-by__arrow-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 11px;
  pointer-events: none;
}

.sort-by__arrow-icon {
  width: 0.75em;
}

/* END OF SORT BY */

/* PRODUCTS COLLECTION */

.products-list-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 50px;
  column-gap: 30px;
  margin: 20px 0 0;
}

.product-preview {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.product-preview a {
  display: block;
}

.product-preview__image-wrapper {
  position: relative;
  display: block;
  margin: 0 0 10px;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
}

.product-preview__image-wrapper img {
  width: 100%;
  display: block;
}

.product-preview__image-secondary {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;
}

.product-preview__title {
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 1.2em;
  line-height: 1.4;
}

.product-preview__price {
  font-weight: 400;
  font-size: 1.05em;
  line-height: 1.4;
}

.product-preview__details-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 0;
}

/* END OF PRODUCTS COLLECTION */

/* HOVER CAPABLE DEVICES */

@media screen and (pointer: fine) and (hover: hover) {
  .product-preview a:is(:hover, :focus-visible) .product-preview__image-secondary {
    opacity: 1;
  }
}

/* END OF HOVER CAPABLE DEVICES */

/* MEDIA QUERIES */

@media screen and (max-width: 1000px) {
  .products-list-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .products-collection-filters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .sort-by {
    grid-column: 3 / 4;
    position: relative;
  }
}

@media screen and (max-width: 750px) {
  .products-list-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .products-collection-filters {
    grid-template-columns: repeat(2, 1fr);
  }

  .sort-by {
    grid-column: 2 / 3;
  } 
}

@media screen and (max-width: 500px) {
  .products-list-grid {
    grid-template-columns: 1fr;
  }

  .products-collection-filters {
    display: block;
  }
}

/* END OF MEDIA QUERIES */